---

---

<div class = "section1"> 
    <h1> Activities </h1>
    <slot /> 
</div>


<style>
.section1{
        border:2px solid black;
        display:flex;
        flex-direction: column;
        gap:1em;
        justify-content: center;
        align-items: center;
        width:min-content;
        border-radius: 20px;
        height:100%;
        min-width:200px;

    }

</style>