---

---

<div>
    <slot></slot>
</div>

<style>
    div{
        display:flex;
        gap:1em;
        flex-wrap:wrap;
        margin:20px;
        justify-content: center;
        align-items:center;
        border:5px solid black;
        height:900px;
    }
</style>